# Terraform
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Terragrunt
.terragrunt-cache

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# https://github.com/google-github-actions/auth
gha-creds-*.json

# ignore all tf plan files from CI/CD
*.tfplan
pr-comment.txt

# temp
preview_url.txt
